<!DOCTYPE html>
<html>
<head>
  <title>找房</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/css/jquery.mobile-1.4.5.min.css">
  <script src="__PUBLIC__/js/jquery-1.9.1.js"></script>
  <script src="__PUBLIC__/js/jquery.mobile-1.4.5.min.js"></script>
  <script>
  $(window).on("pageinit",function(){
    $(window).on("orientationchange",function(event){
      alert("方向是: " + event.orientation);
    });
  });
    
  </script>
  <style>

</style>
</head>
<body>

<div data-role="page" id="home">
  
  <div data-role="header" data-position="fixed">
  <h1>这是头部</h1>
    <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-left ui-btn-icon-notext">二</a>
  </div>
  
  <div data-role="main" class="ui-content">
    <div class="ui-grid-solo" data-role="controlgroup">
        <a href="#pageone" class="ui-btn ui-btn-icon-left ui-icon-action">一</a>
        <a href="#pagetwo" class="ui-btn ui-btn-icon-left ui-icon-location">two</a>
    </div>
    <div class="ui-grid-sole">
      <div data-role="collapsible">
      <h1>水费</h1>
      <p>我是可折叠的内容。</p>
      </div>
      <div data-role="collapsible">
      <h1>水费</h1>
      <p>我是可折叠的内容。</p>
      </div>
      <div data-role="collapsible">
      <h1>水费</h1>
      <p>我是可折叠的内容。</p>
      </div>
      <div data-role="collapsible">
      <h1>水费</h1>
      <p>我是可折叠的内容。</p>
      </div>
      <div data-role="collapsible">
      <h1>水费</h1>
      <p>我是可折叠的内容。</p>
      </div>
      <div data-role="collapsible">
      <h1>水费</h1>
      <p>我是可折叠的内容。</p>
      </div>
    </div>
  </div>
  
  <div data-role="footer">
    <h1>这是footer</h1>
  </div>

</div>

<div data-role="page" id="pageone">
  
  <div data-role="header" data-position="fixed">
  <h1>这是头部</h1>
    <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-left ui-btn-icon-notext">二</a>
  </div>
  
  <div data-role="main" class="ui-content">
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#pageone" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-action">一</a>
      </div>
      <div class="ui-block-b">
        <a href="#pagetwo" class="ui-btn ui-btn-icon-left ui-icon-location">two</a>
      </div>
    </div>
  </div>
  
  <div data-role="footer">
    <h1>这是footer</h1>
  </div>

</div>

<div data-role="page" id="pagetwo">
  
  <div data-role="header" data-position="fixed">
    <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-left ui-btn-icon-notext">一</a>
  </div>
  
  <div data-role="main" class="ui-content">
    <div class="ui-grid-a">
      <button>花花哈话</button>
    </div>
  </div>
  
  <div data-role="footer">
    <h1>这是footer</h1>
  </div>

</div>

</body>
</html>