<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a>房源管理</a> <a class="current">房源列表</a></div>
  </div>
<!--End-breadcrumbs-->
  <div class="container-fluid">
      <div class="widget-box">
      <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
        <h5>房源列表</h5>
        <a href="{:U('Admin/Houses/area')}" class="label label-info pull-left">返回</a>
        <a href="{:U('Admin/Houses/add_house')}" class="label label-success"><i class="icon-plus"></i>添加房源</a>
        <a href="{:U('Admin/Houses/all_houses_table')}" class="label label-info"><i class="icon-calendar"></i>租客管理统计</a>
        <a href="#" class="label label-info"><i class="icon-calendar"></i>下载水电气汇总</a>
      </div>
        <div class="widget-title">
          <form method="post" active="">
              <table>
                <tr>
                  <td>地区：</td>
                  <td>
                    <select name="cityId" style="width: 100px;">
                      <option value="0">请选择</option>
                      <volist name="city_list" id="vo">
                        <option value="{$key}" <if condition="$cityId eq $key"> selected </if>>{$vo}</option>
                      </volist>
                    </select>
                  </td>
                  <td>小区：</td>
                  <td>
                    <select name="areaId" style="width: 100px;">
                      <option value="0">请选择</option>
                      <volist name="areaList" id="vo">
                        <option value="{$vo.id}" <if condition="$areaId eq $vo['id']"> selected </if>>{$vo.area_name}</option>
                      </volist>
                    </select>
                  </td>
                  <td>管家：</td>
                  <td>
                    <select name="stewardId" style="width: 100px;">
                      <option value="0">请选择</option>
                      <volist name="stewardList" id="vo">
                        <option value="{$vo.id}" <if condition="$stewardId eq $vo['id']"> selected </if>>{$vo.nickname}</option>
                      </volist>
                    </select>
                  </td>
                  <td>
                    <button type="submit" class="btn btn-success">搜索</button>
                  </td>
                  <td>
                    <label class="btn btn-info">
                      账单数据:
                      {$month}月:{$nowSendCount}/{$nowMustSendCount} | {$lastMonth}月:{$lastSendCount}/{$lastMustSendCount}
                    </label>
                  </td>
                </tr>
              </table>
          </form>
        </div>
      <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>地区</th>
                <th>所在小区</th>
                <th>房屋编号</th>
                <th>出租类型</th>
                <th>栋-层-房号</th>
                <th>管家</th>
                <th>管家电话</th>
                <th>租住</th>
                <th>
                  账单信息(已发:总数)
                </th> 
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <volist name="housesList" id="vo">
              <tr>
                <td>{$vo.house_id}</td>
                <td>{$vo.city_id}</td>
                <td>{$vo.area_name}</td>
                <td>{$vo.house_code}</td>
                <td>
                  <switch name="vo.type">
                    <case value="1">间</case>
                    <case value="2">床</case>
                  </switch>
                </td>
                <td>{$vo.building}-{$vo.floor}-{$vo.door_no}</td>
                <td>{$vo.steward_nickname}</td>
                <td>{$vo.steward_mobile}</td>
                <td>
                  <if condition="$vo['yz_count'] eq $vo['count']">
                    <span class="label label-success">租满
                    <elseif condition="$vo['yz_count'] gt 0" />
                    <span class="label label-warning">有租
                    <else />
                    <span class="label label-important">未租
                  </if>
                  {$vo.yz_count}/{$vo.count}</span>
                </td>
                <td>
                  <a href="{:U('Admin/Houses/check_bill',array('house_id'=>$vo['house_id'],'year'=>$year,'month'=>$month))}" class="btn btn-success btn-mini check-bill" data-houseId="{$vo.id}" data-year="{$year}" data-month="{$month}">{$month}月:{$vo.now_sended_count}/{$vo.now_total_count}</a>
                  <a href="{:U('Admin/Houses/check_bill',array('house_id'=>$vo['house_id'],'year'=>$lastYear,'month'=>$lastMonth))}"  data-houseId="{$vo.id}" data-year="{$lastYear}" data-month="{$lastMonth}" <if condition="$vo['last_sended_count'] eq $vo['last_total_count']"> class="btn btn-success btn-mini check-bill" <else/> class="btn btn-warning btn-mini check-bill" </if> >{$lastMonth}月:{$vo.last_sended_count}/{$vo.last_total_count}</a>
                </td>
 <!--                <td>
   <if condition="$vo['sended_count'] eq $vo['total_count'] AND $vo['total_count'] neq 0">
     <span class="label label-success">{$vo.sended_count}/{$vo.total_count}</span>
   <else/>
     <span id="bill_status{$vo.id}" class="label label-important">{$vo.sended_count}/{$vo.total_count}</span>
   </if>
 </td> -->
                <td>
                  <a href="{:U('Admin/Houses/detail_house',array('house_code'=>$vo['house_code'],'area_id'=>$area_id))}" class="btn btn-info btn-mini">查看房间</a>
                  <a href="{:U('Admin/Houses/bill_list',array('house_id'=>$vo['house_id'],'area_id'=>$area_id))}" class="btn btn-info btn-mini">查看账单</a>
                  <a href="{:U('Admin/Houses/update_house',array('house_code'=>$vo['house_code']))}" class="btn btn-warning btn-mini" target="_blank">修改</a>
                  <!-- <a href="#" class="btn btn-danger btn-danger btn-mini" onclick="if(!confirm('是否删除')) return false;">删除</a> -->
                </td>
              </tr>
              </volist>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<!--main-container-part-->