<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2016 &copy; 广州百城网络科技有限公司 </div>
</div>

<!--end-Footer-part-->
<script src="__PUBLIC__/admin/js/jquery.min.js"></script> 
<script src="__PUBLIC__/admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/admin/js/jquery.peity.min.js"></script>
<script src="__PUBLIC__/admin/js/jquery.dataTables.min.js"></script>  
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/admin/js/bootstrap-colorpicker.js"></script> 
<script src="__PUBLIC__/admin/js/bootstrap-datepicker.js"></script> 
<script src="__PUBLIC__/admin/js/bootstrap-wysihtml5.js"></script>  
<script src="__PUBLIC__/admin/js/masked.js"></script> 
<script src="__PUBLIC__/admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/admin/js/matrix.js"></script> 
<script src="__PUBLIC__/admin/js/matrix.form_common.js"></script> 
<script src="__PUBLIC__/admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__PUBLIC__/admin/js/matrix.tables.js"></script>
<script type="text/javascript">
 var url = "{:U('Admin/Houses/create_bill')}";
 var reurl = "{:U('Admin/Houses/re_create_bill')}";
 var ajax_check_bill_rul = "{:U('Admin/Houses/ajax_check_bill')}";
 var refesh_schedule_count_url = "{:U('Admin/Task/refesh_schedule_count')}";
  $(window).load(function(){
    //生成账单ajax
    $(".create_bill").click(function(){
      var id = $(this).attr("data-id");
      var year = $(this).attr("data-year");
      var month = $(this).attr("data-month");
      var house_id = $(this).attr("data-houseId");
      var bill_status = $("#bill_status"+id);

        $.ajax({
           type: "POST",
           url: url,
           data: "charge_id="+id+"&house_id="+house_id+"&year="+year+"&month="+month,
           dataType: "json",
           success: function(msg){
             if ( msg.info != undefined ) {
              alert(msg.info);
              return false;
             }
             if ( msg.result ) {
              bill_status.removeClass("label-important");
              bill_status.html("已生成");
              bill_status.addClass("label-success");
              alert("生成成功");
              location.reload();
             } else {
              alert("生成失败");
             }
           }
        });
    })
    
    //重新生成账单ajax
    $(".re_create_bill").click(function(){

      if ( !confirm('确定重新生成?') ) return false; 
      if ( !confirm('系统将会删除账单，并重新生成') ) return false; 

      var id = $(this).attr("data-id");
      var year = $(this).attr("data-year");
      var month = $(this).attr("data-month");
      var house_id = $(this).attr("data-houseId");
      var bill_status = $("#bill_status"+id);

        $.ajax({
           type: "POST",
           url: reurl,
           data: "charge_id="+id+"&house_id="+house_id+"&year="+year+"&month="+month,
           dataType: "json",
           success: function(data){
             alert(data.msg);
             if ( data.status ) {
              $.ajax({
                 type: "POST",
                 url: url,
                 data: "charge_id="+id+"&house_id="+house_id+"&year="+year+"&month="+month,
                 dataType: "json",
                 success: function(msg){
                   if ( msg.info != undefined ) {
                    alert(msg.info);
                    return false;
                   }
                   if ( msg.result ) {
                    alert("重新生成成功");
                   } else {
                    alert("重新生成失败");
                   }
                   location.reload();
                 }
              });
             }
           }
        });
    })
    //生成账单ajax

    //查看该年月账单ajax
    /*$(".check-bill").click(function(e){
      var year = $(this).attr("data-year");
      var month = $(this).attr("data-month");
      var house_id = $(this).attr("data-houseId");

      $.ajax({
           type: "POST",
           url: ajax_check_bill_rul,
           data: "house_id="+house_id+"&year="+year+"&month="+month,
           dataType: "json",
           success: function(data){
             if (0 == data.total_count) {
              alert("未生成");
              return false;
             } else {
              alert(data.year+"年"+data.month+"月账单发送情况:"+"\n\n已发送:"+data.sended_count+"\n\n总数:"+data.total_count);
             }
           }
        });
    });*/
    //刷新页面刷新待办数目
    $.ajax({
       type: "POST",
       url: refesh_schedule_count_url,
       dataType: "json",
       success: function(data){
         $("#schedule_count").html(data.schedule_count);
       }
    });
    //点击刷新待办数目
    $("#refesh_schedule_count").click(function(){
      location.reload();
    });

    //监控待办数目，异步修改#schedule_count
    setInterval(function(){
      $.ajax({
         type: "POST",
         url: refesh_schedule_count_url,
         dataType: "json",
         success: function(data){
           $("#schedule_count").html(data.schedule_count);
         }
      });
    },60000);
  })
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>