  <div class="button">
      <div class="button_ds">
        <div class="container-fluid">
          <div class="row-fluid">
            <a href="{:U('Home/Steward/index')}">
              <div class="col-xs-3"> <img src="__PUBLIC__/images/icon_sy.png" class="img-responsive img-icon3-dx"> <br>
                <span class="nav-bootom-zt" <if condition="$_SESSION['navBootom'] eq index"> style="color:#68bb9b;" </if>>首页</span>
              </div>
            </a>
             <a href="{:U('Home/Steward/houses')}">
              <div class="col-xs-3"> <img src="__PUBLIC__/images/icon_zf.png" class="img-responsive img-icon3-dx"> <br>
                <span class="nav-bootom-zt" <if condition="$_SESSION['navBootom'] eq houses"> style="color:#68bb9b;" </if>>房屋管理</span>
              </div>
            </a>
            <a href="{:U('Home/Steward/allbills')}">
              <div class="col-xs-3"> <img src="__PUBLIC__/images/icon_tc.png" class="img-responsive img-icon3-dx"> <br>
                <span class="nav-bootom-zt" <if condition="$_SESSION['navBootom'] eq allbills"> style="color:#68bb9b;" </if>>账单管理</span>
              </div>
            </a>
            <a href="{:U('Home/Steward/stewardtasks')}">
              <div class="col-xs-3"> <img src="__PUBLIC__/images/icon_wo.png" class="img-responsive img-icon3-dx"> <br>
                <span class="nav-bootom-zt" <if condition="$_SESSION['navBootom'] eq stewardtasks"> style="color:#68bb9b;" </if> >待办工作</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>