<!DOCTYPE html>
<html lang="en">
<head>
<title>乐窝公寓管理系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/admin/css/colorpicker.css" />
<link rel="stylesheet" href="__PUBLIC__/admin/css/datepicker.css" />
<link rel="stylesheet" href="__PUBLIC__/admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/admin/css/matrix-media.css" />
<link href="__PUBLIC__/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
<!--main-container-part-->
<div>
  <div class="widget-box">
  <a href="javascript:window.history.back(-1)" class="btn btn-success">返回</a>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6"> 
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>查看账单</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="#" method="post" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">支付方式</label>
              <div class="controls">
                    <volist name="pay_type" id="vo">
                      <if condition="$pay_info['pay_type'] eq $key">
                      <input type="text" value="{$vo}" disabled="disabled">
                      </if>
                    </volist>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">支付时间</label>
                <div class="controls" >
                  <input type="text" value="{$pay_info['pay_time']}" disabled="disabled">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">支付金额:</label>
                <div class="controls">
                  <input type="text" value="{$pay_info['pay_money']}" disabled="disabled">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">日志</label>
                <div class="controls">
                  <textarea cols="30" rows="5">{$pay_info['pay_log']}</textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--main-container-part-->

<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2016 &copy; 广州百城网络科技有限公司 </div>
</div>
<!--end-Footer-part-->
<script src="__PUBLIC__/admin/js/jquery.min.js"></script> 
<script src="__PUBLIC__/admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/admin/js/bootstrap-colorpicker.js"></script> 
<script src="__PUBLIC__/admin/js/bootstrap-datepicker.js"></script> 
<!-- <script src="__PUBLIC__/admin/js/jquery.toggle.buttons.html"></script>  -->
<script src="__PUBLIC__/admin/js/masked.js"></script> 
<script src="__PUBLIC__/admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/admin/js/matrix.js"></script> 
<script src="__PUBLIC__/admin/js/matrix.form_common.js"></script> 
<script src="__PUBLIC__/admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__PUBLIC__/admin/js/jquery.peity.min.js"></script> 
<script src="__PUBLIC__/admin/js/bootstrap-wysihtml5.js"></script> 
</body>
</html>
