<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a>租客帐号管理</a> <a>帐号列表</a> <a class="current">修改帐号</a></div>
  </div>
<!--End-breadcrumbs-->
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>修改帐号</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="" method="post" class="form-horizontal form-inline">
<!--             <div class="control-group">
  <label class="control-label">昵称 :</label>
  <div class="controls">
    <input name="nickname" type="text" class="span3" placeholder="昵称" />
  </div>
</div>
<div class="control-group">
  <label class="control-label">电话 :</label>
  <div class="controls">
    <input name="mobile" type="text" class="span3" placeholder="电话" />
  </div>
</div>
<div class="control-group">
  <label class="control-label">邮箱 :</label>
  <div class="controls">
    <input name="email" type="text" class="span3" placeholder="邮箱" />
  </div>
</div>
<div class="control-group">
  <label class="control-label">性别 :</label>
  <div class="controls">
    <label><input type="radio" name="sex" value="1" placeholder="">男</label>
    <label><input type="radio" name="sex" value="2" placeholder="">女</label>
   <label> <input type="radio" name="sex" value="3" placeholder="">秘密</label>
  </div>
</div>
<div class="control-group">
  <label class="control-label">身份证 :</label>
  <div class="controls">
    <input name="card_no" type="text" class="span3" placeholder="身份证" />
  </div>
</div> -->
            <div class="control-group">
              <label class="control-label">密码 :</label>
              <div class="controls">
                <input name="password" type="password"  class="span3" placeholder="密码"  />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">确认密码 :</label>
              <div class="controls">
                <input name="repassword" type="password"  class="span3" placeholder="确认密码"  />
              </div>
            </div>
            <div class="form-actions">
            <input type="hidden" name="id" value="{$id}">
              <button type="submit" class="btn btn-success">修改</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
<!--main-container-part-->
